body{
    height: 100vh;
    margin: 0% 4%;
}

section {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    background-color: blue;
    color: white;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: auto;
}

header a{
    color: black1;
}