body{
    height: 100vh;
}

section {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}