body{
    height: 100vh;
    margin: 0% 4%;
    background-color: black;
    color: white;
}

section {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(255, 255, 255);
    font-size: large;
    border-radius: 100px;
    height: 56px;
    width: 200px;
}

header a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}